:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background:#fff;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
 
/* case study */
 .caseStudiesSection {
  width: 100%;
  max-width: 1440px;
  padding: 100px 40px;
  margin: 0 auto;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caseStudiesHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
  width: 100%;
  max-width: 1200px;
}

.caseStudiesHeader .textArea {
  max-width: 600px;
}

.caseStudiesHeader h2 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 10px;
}

.caseStudiesHeader p {
  font-size: 0.95rem;
  color: #333;
}

.seeMoreBtn {
  background-color: #c8102e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 10px;
}

.seeMoreBtn i {
  margin-left: 6px;
}

.seeMoreBtn:hover {
  background-color: #a30e24;
}

.caseStudiesGrid {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  max-width: 1200px;
}

.caseStudyItem {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  background: #fff;
}

.caseStudyReverse {
  flex-direction: row-reverse;
}

.caseStudyText {
  flex: 1;
  padding: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.caseStudyText h3 {
  font-size: 1.3rem;
  font-weight: 700;
  color: #111;
  margin-bottom: 10px;
}

.caseStudyText p {
  font-size: 0.95rem;
  color: #333;
  margin-bottom: 20px;
}

.caseStudyBtn {
  background: #000;
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 0.85rem;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  width: 200px;
}

.caseStudyBtn:hover {
  transition: background 0.3s ease;
  background: #c8102e;
}

.caseStudyImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.caseStudyImageWrapper {
  flex: 1;
  min-height: 250px;
  max-height: 100%;
  overflow: hidden;
}

.pinkBG {
  background: #fce0e6;
}

.whiteBG {
  background: rgba(0, 174, 255, 0.171);
}

.textArea {
  color: black;
}
